/* src/components/Channelbar.css */
.navbar-nav {
  display: flex;
  overflow-x: hidden; /* Masquer la barre de défilement native */
  white-space: nowrap;
}

.nav-item {
  display: inline-block;
}

.navbar .nav-link {
  padding: 0;
}

.channel-zero {
  margin-top: 20px;
}

.channel-picture {
  margin-top: 12px;
  border: 3px solid #d12f29;
  border-radius: 100%;
}

.navbar .nav-link .position-relative {
  display: inline-block;
}

.navbar .badge {
  font-size: 0.75rem;
  padding: 0.5em 0.6em;
}

.navbar-brand img {
  height: 40px;
}

.navbar .fa-plus-circle {
  font-size: 1.5rem;
}

.discordimage {
  height: 100%;
  width: 80%;
  right: 20px;
  position: relative;
  display: flex; /* Ajoutez flexbox pour faciliter le défilement */
}

.iconcircle {
  width: 50px;
  height: 100%;
  object-fit: contain;
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-bottom {
  padding: 0;
}

.navbar .fa-plus-circle {
  font-size: 2.5rem;
}

.channelbar,
.channelbarbg {
  height: 80px;
  background-color: #0a314e !important;
}

.topnavbar {
  background-color: #0a314e !important;
}

span.badge.position-absolute.top-0.start-100.translate-middle.p-2.bg-danger.border.border-light.rounded-circle {
  margin-top: 15px;
  font-size: 10px;
}

.justify-content-center {
  justify-content: center !important;
}

.scroll-button-right{
  position: relative;
  right: 30px;
}

.scroll-button-left {
  position: relative;
  left: -10px;
}
.QuackersLogo {
  width: 65px;
  height: 65px !important;
  scale: 1.2;
  position: relative;
  top: 4px;
}

.scroll-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0 10px;
}

.scroll-button:focus {
  outline: none;
}
