.navbar{
  background-color: #dae4f7f7 !important;
}
.dropdown-menu {
  position: absolute;
  will-change: transform;
  top: 100%;
  left: 0;
  margin-top: 0.125rem;
  z-index: 1050;
}


.dropdown-toggle-custom {
  display: inline-flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.dropdown-toggle-custom:focus,
.dropdown-toggle-custom:hover {
  text-decoration: none;
}

.profilbar {
  margin-bottom: 0;
}

.profilname {
  position: relative;
  top: 4px;
}

.basis-green{
  color: rgb(0, 128, 0);
}
/* Styles pour les statuts */
.status-online {
  color: rgba(0, 128, 0, 0.849) !important;
}

.status-busy {
  color: rgba(255, 0, 0, 0.849) !important;
}

.status-inactive {
  color: rgba(255, 166, 0, 0.849) !important;
}

.status-active {
  color: rgba(0, 0, 255, 0.849) !important;
}


