.dropdown-menu {
  position: absolute;
  will-change: transform;
  top: 100%;
  left: 0;
  margin-top: 0.125rem;
  z-index: 1050;
}

.dropdown-toggle-custom {
  display: inline-flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.dropdown-toggle-custom:focus,
.dropdown-toggle-custom:hover {
  text-decoration: none;
}

.profilbar {
  margin-bottom: 0;
}

.profilname {
  position: relative;
  top: 4px;
}

.basis-green{
  color: green;
}
/* Styles pour les statuts */
.status-online {
  color: green;
}

.status-busy {
  color: red;
}

.status-inactive {
  color: orange;
}

.status-active {
  color: blue;
}


